{% extends "base.html" %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="notification is-danger">
    {{ message }}
</div>
{% endfor %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Changer de mot de passe</h3>
    <form method="POST" action="/password">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="mdp" placeholder="Mot de passe actuel" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="new_mdp" placeholder="Nouveau mot de passe">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="new_mdp2" placeholder="Confirmer mot de passe">
            </div>
        </div>

        <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Enregistrer">
    </form>
</div>
{% endblock %}